# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual Environment
venv/
.venv/

# Environment variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Coverage
.coverage
htmlcov/

# Pytest
.pytest_cache/

# Build
dist/
build/
*.egg-info/